#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  header{
    font-size: 25px;
    font-weight: 900;
    
  }
  nav {
      display: flex;
      justify-content: space-around;
  
      position: fixed;
      top:0;
      left:0;
      width:100vw;
      /*  extra  */
      height: 90px;
     background-color: #fcccd4;
      margin-bottom: 0%;
    }
  nav a {
      color: #00515c;
      text-align: center;
      text-decoration: none;
      padding: 35px;
      transition: transform 0.5s;
    }
  nav a:hover {
      color: blue;
      text-align: center;
      transform: scale(1.9);
    }
body{
    background-image: url("5231528.webp");
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: auto;
    background-size: cover;
    max-width: 100%;
    height: auto;
}