@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Courgette&family=PT+Serif&family=Quantico&family=Sacramento&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: "Quantico", Serif, sans-serif;

  background-image: url("Vfn6C0z.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: auto;
  background-size: cover;
  max-width: 100%;
  height: auto;
}
header {
  font-size: 25px;
  font-weight: 900;
}
nav {
  display: flex;
  justify-content: space-around;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /*  extra  */
  height: 90px;
  background-color: #fcccd4;
  margin-bottom: 0%;
}
nav a {
  color: #00515c;
  text-align: center;
  text-decoration: none;
  padding: 35px;
  transition: transform 0.5s;
}
nav a:hover {
  color: blue;
  text-align: center;
  transform: scale(1.5);
}

h1 a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: green;
}
h1 a:hover{
  color: blue;
}

#TempInvitation{
  margin-top: 120px;
  transition: transform 0.5s;

}
#TempInvitation:hover{
  text-align: center;
  transform: scale(1.3);
}
#Deng{
  transition: transform 0.5s;

}
#Deng:hover{
  text-align: center;
  transform: scale(1.3);
}
#Peng{
  transition: transform 0.5s;

}
#Peng:hover{
  text-align: center;
  transform: scale(1.3);
}
#Dkh{
  transition: transform 0.5s;

}
#Dkh:hover{
  text-align: center;
  transform: scale(1.3);
}

@media screen and (max-width: 600px) {
    body {
      font-size: 13px;
    }
  
    nav {
      flex-direction: column;
     margin-top: 60px;
    }
  
    nav a {
      padding: 10px;
      background-color: #fcccd4;
  
    }
 #TempInvitation{
    margin-top: 230px;
 } 
  
}